body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.background{
	background-color: #000000;
}

.toprow{
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding: 10px;
	display: inline-block;

}

.blueBtn{
	background-color: #0004FF;
	border-radius: 15%;
}

.SessionBtn{
	width: 90px;
	background-color: #000FFB;
	color: white;
	text-align: center;
}
#SignUp{
	background-color: #298313;
}

#LogOut{
	background-color: #FF0F0F;
}